.green {
    background-color: lightgreen;
}

.img1 {
    width: 70px;
    height: 70px;
}

tr {
    text-align: center;
    align-items: center;
    font-size: 20px;
}

td {
    width: 150px;
    max-width: 150px;
    height: 60px;
}

.none {
    display: none;
}
